<div class="csc-textpic csc-textpic-intext-left-nowrap csc-textpic-intext-left-nowrap-130">
  <div class="csc-textpic-imagewrap">
    <figure class="csc-textpic-image csc-textpic-last">
      <f:link.page pageUid="{data.pid}" additionalParams="{show:'{data.uid}'}">
        <f:image src="{prevImage}" width="130c" height="100c" alt="" title="{header}" />
      </f:link.page>
    </figure>
  </div>
  <div class="csc-textpic-text">
    <header class="csc-header csc-header-n2">
      <h2>{header}</h2>
    </header>
     <p>{description}</p>
     <p><f:link.page pageUid="{data.pid}" additionalParams="{show:'{data.uid}'}">
       <f:translate key="LLL:EXT:content_designer/Resources/Private/Language/locallang_db.xml:gallery_show" />
     </f:link.page></p>
  </div>
</div>